[Desktop Entry]
Type=Application
Name=Nubo Present
Comment=Make presentations
Exec=nubo-office present %F
Icon=tech.nubosuite.Present
Terminal=false
Categories=Office;Presentation;
MimeType=application/vnd.openxmlformats-officedocument.presentationml.presentation;application/vnd.ms-powerpoint;application/vnd.oasis.opendocument.presentation;
StartupNotify=true
